[user]
	name = Tim Kye
	email = tim@kye.dev
[include]
	path = .gitconfig.local
[alias]
	st = status
	c = !g commit -m
	ac = !git add -A && git commit -m
	aca = !git add -A && git commit --amend
	nuke = !sh -c 'git branch -D $1 && git push origin :$1' -
	amend = commit -a --amend
	undo = reset HEAD~1 --mixed
	clear = !git clean -df && git checkout -- .
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
	parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
	squash-branch = "!f(){ PARENT=$(git parent); git reset --soft $(git merge-base $PARENT HEAD); git commit -m \"$1\"; };f"
	prunl = !git branch --format '%(refname:short)<->%(upstream)' | grep '<->$' | sed 's/<->//g' > /tmp/local-only-branches && ${EDITOR:-vi} /tmp/local-only-branches && xargs git branch --delete --force < /tmp/local-only-branches
	up = !~/dotfiles/git-prune-squashed.sh
	co = checkout
	cob = checkout -b
	push-all = !git push && git push --tags
	pr = !git push --set-upstream origin `git symbolic-ref --short HEAD`
	pv = !git push --no-verify
[push]
	default = simple
[core]
	editor = nano
	preloadindex = true
	pager = less -FRX
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = merges
[init]
	defaultBranch = main
[maintenance]
	repo = /Users/tkye/dev/cash-server
