"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](fg:fg0)\
$os\
$username\
[](bg:bg0 fg:fg0)\
$directory\
[](bg:green fg:bg0)\
$git_branch\
$git_status\
[](fg:green bg:aqua)\
$rust\
$golang\
$nodejs\
$python\
[](fg:aqua bg:orange)\
$time\
[ ](fg:orange)\
$cmd_duration\
$line_break\
$character"""

palette = 'monokai_dark'

[os]
disabled = false
style = "bg:fg0 fg:black"

[username]
show_always = true
style_user = "bg:red fg:crust"
style_root = "bg:red fg:crust"
format = '[ $user]($style)'
disabled = true

[directory]
style = "bg:bg0 fg:fg0"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:green"
format = '[[ $symbol $branch ](fg:bg0 bg:green)]($style)'

[git_status]
style = "bg:green"
format = '[[($all_status$ahead_behind )](fg:bg0 bg:green)]($style)'

[nodejs]
symbol = ""
style = "bg:aqua"
format = '[[ $symbol( $version) ](fg:bg0 bg:aqua)]($style)'

[c]
symbol = " "
style = "bg:aqua"
format = '[[ $symbol( $version) ](fg:fg0 bg:aqua)]($style)'

[rust]
symbol = ""
style = "bg:aqua"
format = '[[ $symbol( $version) ](fg:fg0 bg:aqua)]($style)'

[golang]
symbol = ""
style = "bg:aqua"
format = '[[ $symbol( $version) ](fg:fg0 bg:aqua)]($style)'

# [php]
# symbol = ""
# style = "bg:aqua"
# format = '[[ $symbol( $version) ](fg:fg0 bg:aqua)]($style)'

# [java]
# symbol = " "
# style = "bg:aqua"
# format = '[[ $symbol( $version) ](fg:fg0 bg:aqua)]($style)'

# [kotlin]
# symbol = ""
# style = "bg:aqua"
# format = '[[ $symbol( $version) ](fg:fg0 bg:aqua)]($style)'

# [haskell]
# symbol = ""
# style = "bg:aqua"
# format = '[[ $symbol( $version) ](fg:fg0 bg:aqua)]($style)'

[python]
symbol = ""
style = "bg:aqua"
format = '[[ $symbol( $version)(\(#$virtualenv\)) ](fg:fg0 bg:aqua)]($style)'

[docker_context]
symbol = ""
style = "bg:aqua"
format = '[[ $symbol( $context) ](fg:fg0 bg:aqua)]($style)'

# [conda]
# symbol = "  "
# style = "fg:fg0 bg:aqua"
# format = '[$symbol$environment ]($style)'
# ignore_base = false

[time]
disabled = false
time_format = "%r"
style = "bg:orange"
format = '[[  $time ](fg:bg0 bg:orange)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[❯](bold fg:green)'
error_symbol = '[❯](bold fg:red)'
vimcmd_symbol = '[❮](bold fg:green)'
vimcmd_replace_one_symbol = '[❮](bold fg:orange)'
vimcmd_replace_symbol = '[❮](bold fg:orange)'
vimcmd_visual_symbol = '[❮](bold fg:yellow)'

[cmd_duration]
show_milliseconds = true
format = " in $duration "
style = "bg:orange"
disabled = false
show_notifications = false
# show_notifications = true
# min_time_to_notify = 45000

[palettes.monokai_dark]
fg0 = '#f8f8f2'
bg0 = '#75715e'
# bg0 = '#221F22'
# bg1 = '#3c3836'
# bg2 = '#75715e'
blue = '#66d9ef'
aqua = '#2aa198'
green = '#A9DC76'
orange = '#fc9867'
purple = '#ab9df2'
red = '#ff6188'
yellow = '#ffd866'

##############################
# Nerd Fonts
##############################

[aws]
symbol = "  "

[buf]
symbol = " "

[bun]
symbol = " "

# [c]
# symbol = " "

# [cpp]
# symbol = " "

[cmake]
symbol = " "

# [conda]
# symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

# [directory]
# read_only = " 󰌾"

# [docker_context]
# symbol = " "

# [elixir]
# symbol = " "

# [elm]
# symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = "  "

# [git_branch]
# symbol = " "

[git_commit]
tag_symbol = '  '

# [golang]
# symbol = " "

[guix_shell]
symbol = " "

# [haskell]
# symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

# [java]
# symbol = " "

# [julia]
# symbol = " "

# [kotlin]
# symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

# [nim]
# symbol = "󰆥 "

[nix_shell]
symbol = " "

# [nodejs]
# symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

# [php]
# symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

# [python]
# symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

# [rust]
# symbol = "󱘗 "

# [scala]
# symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

# [gradle]
# symbol = " "
